@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

body {
  padding: 0;
  margin: 0;
}

.container {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  min-height: 100vh;
  background: url("image/gradient-numerology-background_23-2150051037.avif")
    no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 500px;
  background-color: #f9f9f9;
  border: 1px solid #dbcdcd;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
}
.heading {
  text-transform: uppercase;
  color: #242582;
}
.zipcode-inputField {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  display: block;
  margin: 20px auto;
}
button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
}
.result {
  margin-top: 18px;
  font-weight: bold;
  color: #242582;
}

/* responsive view*/
@media screen and (max-device-width: 720px) {
  .main {
    width: 90%;
  
  }
}
